<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ITP2016ConnectionString" connectionString="Data Source=SQLSERVERSLIITC;Initial Catalog=ITP2016;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
    <add name="ITP2016ConnectionString1" connectionString="Data Source=SQLSERVERSLIITC;Initial Catalog=ITP2016;User ID=sa;Password=password"
      providerName="System.Data.SqlClient" />
    <add name="ITP2016ConnectionString2" connectionString="Data Source=SQLSERVERSLIITC;Initial Catalog=ITP2016;Persist Security Info=True;User ID=sa;Password=password"
      providerName="System.Data.SqlClient" />
    <add name="OA_APPConnectionString" connectionString="Data Source=SQLSERVERSLIITC;Initial Catalog=OA_APP;Persist Security Info=True;User ID=sa;Password=password"
      providerName="System.Data.SqlClient" />
    <add name="OA_APPConnectionString1" connectionString="Data Source=Laptop;Initial Catalog=OA_APP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OA_APPConnectionString2" connectionString="Data Source=.;Initial Catalog=OA_APP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OA_APP_FINALConnectionString" connectionString="Data Source=Laptop;Initial Catalog=OA_APP_FINAL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
